@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  /* background: rgba(0, 0, 0, 0.05); */
  --gradient-steps: 9;
  --gradient-step-length: calc(360 / var(--gradient-steps));
  --gradient-length: 46%;
  
  --gradient-step-1: 0;
  --gradient-step-2: 72;
  --gradient-step-3: 144;
  --gradient-step-4: 216;
  --gradient-step-5: 288;
/*   --gradient-step-6: 260;
  --gradient-step-7: 270;
  --gradient-step-8: 290;
  --gradient-step-9: 210; */
  
  height: 100%;
  display: flex;
  place-content: center;
  
  /* background: linear-gradient(
    290deg,
    hsl(var(--gradient-step-1) 100% 50% / 80%),
    hsl(var(--gradient-step-1) 100% 50% / 0%)
    var(--gradient-length)
  ),
    linear-gradient(
    320deg,
    hsl(var(--gradient-step-2) 100% 50% / 80%),
    hsl(var(--gradient-step-2) 100% 50% / 0%)
    var(--gradient-length)
  ),
    linear-gradient(
    0deg,
    hsl(var(--gradient-step-3) 100% 50% / 80%),
    hsl(var(--gradient-step-3) 100% 50% / 0%)
    var(--gradient-length)
  ),
    linear-gradient(
    40deg,
    hsl(var(--gradient-step-4) 100% 50% / 80%),
    hsl(var(--gradient-step-4) 100% 50% / 0%)
    var(--gradient-length)
  ),
    linear-gradient(
    70deg,
    hsl(var(--gradient-step-5) 100% 50% / 80%),
    hsl(var(--gradient-step-5) 100% 50% / 0%)
    var(--gradient-length)
  ) */

  /* background: linear-gradient(
    10deg,
    hsl(120 100% 50% / 30%),
    hsl(120 100% 50% / 0%)
    85%) */
}

input,
textarea {
  font-size: 16px;
}

button {
  cursor: pointer;
}

.loader {
    width: 36px;
    height: 36px;
    /* border: 5px solid #aaa; */
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 